.register-container {
    /* Tambahkan style ini untuk menengahkan konten */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Tambahkan untuk menengahkan vertikal */
    margin: auto;
    margin-top: 150px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
    border-radius: 20px;
    text-align: center; /* Menengahkan horizontal */
}

.signup-text {
    color: #2a0458; /* Ubah warna teks sesuai kebutuhan */
    font-size: 18px; /* Sesuaikan ukuran font */
    margin-top: 20px; /* Sesuaikan margin sesuai kebutuhan */
}

.signup-text a {
    color: #8080D7; /* Ubah warna tautan sesuai kebutuhan */
    text-decoration: none; /* Hilangkan garis bawah default */
    font-weight: bold;
}

.signup-text a:hover {
    text-decoration: underline; /* Tambahkan garis bawah saat tautan dihover */
}
